@page "/attackdex"
@inherits BasePage
@inject IDialogService DialogService
@inject System.IO.Abstractions.IFileSystem FileSystemAbstraction
@using PkmnCalcMauiBlazor.Pages.Components

<DexSelect Label="Attackdex Type" DexTypes="attackdexTypes"
           @bind-SelectedDexType="SelectedAttackdexType" @bind-DexSource="AttackdexSource" />
@{
    #if DEBUG
}
    <p>Path to data: @pathToData</p>
    <p>Dex src: @AttackdexSource</p>
    <p>Iframe src: @SerebiiAttackdexSource</p>
@{
    #endif
}
@if (progressVisible)
{
    <SavePokemonNamesProgress Value="SaveProgress" />
}
<MudAutocomplete AutoFocus="true" accesskey="f" T="string" Label="Attack Name" @bind-Value="AttackName" SearchFunc="@SearchForAttackName"
                 ResetValueOnEmptyText="true"
                 CoerceText="true" CoerceValue="false"
                 AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Primary" />
<MudButton Variant="Variant.Filled" OnClick="OpenSavePokemonDataDialog">Save list of attack names from @SelectedAttackdexType.Name</MudButton>
<MudPaper Height="100vh" Style="overflow: hidden;">
    <iframe id="serebiiPokedex" src="@Attackdex.SerebiiAttackdexSource" />
</MudPaper>