@*// Copyright (c) iyarashii @ https://github.com/iyarashii
// Licensed under the GNU General Public License v3.0.*@
@page "/pokedex"
@inject IDialogService DialogService

<PokedexSelect Label="Pokedex Type" @bind-SelectedPokedexType="SelectedPokedexType" @bind-PokedexSource="PokedexSource" />
@if(IsDebug())
{
<p>Path to names: @pathToPokemonNames</p>
<p>Dex src: @PokedexSource</p>
<p>Iframe src: @(PokedexSource + ((!string.IsNullOrEmpty(PokemonName) && char.IsDigit(PokemonName[0])) 
                                ? PokemonName.Substring(0, 3) + ".shtml" 
                                : PokemonName?.Replace(" ", "").ToLower()))</p>
}
@if (progressVisible)
{
    <SavePokemonNamesProgress Value="SaveProgress" />
}
<MudAutocomplete AutoFocus="true" accesskey="f" T="string" Label="Pokemon Name" @bind-Value="PokemonName" SearchFunc="@SearchForPokemonName"
                 ResetValueOnEmptyText="true"
                 CoerceText="true" CoerceValue="false"
                 AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Primary" />
<MudButton Variant="Variant.Filled" OnClick="OpenSavePokemonDataDialog" >Save list of pokemon names from @SelectedPokedexType.Name</MudButton>
<MudPaper Height="1080px">
    <iframe id="serebiiPokedex" src="@(PokedexSource + 
    ((!string.IsNullOrEmpty(PokemonName) && char.IsDigit(PokemonName[0])) 
    ? PokemonName.Substring(0, 3) + ".shtml" 
    : PokemonName?.Replace(" ", "").ToLower()))" />
</MudPaper>

@code {
    
}

