@*// Copyright (c) iyarashii @ https://github.com/iyarashii
// Licensed under the GNU General Public License v3.0.*@
@page "/pokedex"
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject System.IO.Abstractions.IFileSystem FileSystemAbstraction
@inherits BasePage
@using PkmnCalcMauiBlazor.Pages.Components

<DexSelect Label="Pokedex Type" DexTypes="pokedexTypes" @bind-SelectedDexType="SelectedPokedexType" @bind-DexSource="PokedexSource"/>
@{
    #if DEBUG
}
    <p>Path to names: @pathToPokemonNames</p>
    <p>Dex src: @PokedexSource</p>
    <p @oncontextmenu="HandleRightClick">Iframe src: @SerebiiPokedexSource</p>
@{
    #endif
}
@if (progressVisible)
{
    <SavePokemonNamesProgress Value="SaveProgress" />
}
<MudAutocomplete AutoFocus="true" accesskey="f" T="string" Label="Pokemon Name" @bind-Value="PokemonName" SearchFunc="@SearchForPokemonName"
                 ResetValueOnEmptyText="true"
                 CoerceText="true" CoerceValue="false"
                 AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Primary" />
<MudButton Variant="Variant.Filled" OnClick="OpenSavePokemonDataDialog" >Save list of pokemon names from @SelectedPokedexType.Name</MudButton>
<MudPaper Height="100vh" Style="overflow: hidden;">
    <iframe id="serebiiPokedex" src="@SerebiiPokedexSource" />
</MudPaper>

@code {
    

}

