@*// Copyright (c) 2022 iyarashii @ https://github.com/iyarashii 
// Licensed under the GNU General Public License v3.0.*@
@using PokemonTypeLibrary.Models
@using System.Drawing
@using System.Linq

<PageTitle>Pokemon Type Calculator</PageTitle>
<body>
    <fieldset name="defendingTypes" class="border-2 mud-border-primary" style="margin:5px 0px 5px 0px;">
        <legend style="margin-inline:5px;">Defending Pokemon Types</legend>
        <MudSimpleTable Style="border-collapse:collapse; width:100%; padding:0px 5px 5px 5px;">
            <tr>
                <td>
                    <PokemonTypeSelect Label="Primary Type" PkmnTypeList="@PrimaryPkmnTypeList" SelectedTypeColor="@SelectedPrimaryTypeColor"
                    @bind-SelectedTypeName="SelectedPrimaryTypeName" Selected2ndTypeName="@SelectedSecondaryTypeName" />
                </td>
                <td>
                        <PokemonTypeSelect Label="Secondary Type" PkmnTypeList="@SecondaryPkmnTypeList" SelectedTypeColor="@SelectedSecondaryTypeColor"
                    @bind-SelectedTypeName="SelectedSecondaryTypeName" Selected2ndTypeName="@SelectedPrimaryTypeName" />
                </td>
            </tr>
        </MudSimpleTable>
    </fieldset>
    @if (SelectedPrimaryTypeName != emptyTypeName || SelectedSecondaryTypeName != emptyTypeName)
    {
        <MudTable Dense="true" Breakpoint="Breakpoint.None" Bordered="false" Items="@PkmnTypeList.Where(x => x is not EmptyPkmnType)" Hover="true" SortLabel="Sort By">
            <ColGroup>
                    <col style="width:50%;"/>
                    <col style="width:50%;"/>
            </ColGroup>
            <HeaderContent>
                <MudTh Style="text-align:center"><MudTableSortLabel SortBy="new Func<IPkmnType, object>(x => x.TypeName)">Type</MudTableSortLabel></MudTh>
                <MudTh Style="text-align:center"><MudTableSortLabel SortBy="new Func<IPkmnType, object>(x => x.DmgMultiplier)">Damage Multiplier</MudTableSortLabel></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd Style="@($"color:{context.TypeColor};text-align:center")" DataLabel="Type">@context.TypeName</MudTd>
                <MudTd Style="@($"color:{context.TypeColor};text-align:center")" DataLabel="Damage Multiplier">@($"{context.DmgMultiplier}x")</MudTd>
            </RowTemplate>
        </MudTable>
    }
</body>

@code {
    
}
